.inputs__container--checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    margin: 2rem 0;
}

.inputs__container--checkbox input,
.inputs__container--checkbox label {
    margin: 0;
}


.inputs__checkbox {
    display: flex;
    gap: 1.5rem;
}