<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
		<add name="ScatoDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Scato;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
		<add name="ScatoHangfireDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ScatoHangfire;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="CertificadoWsCtg" value="Certificados\alias.p12" />
		<add key="SapServiceUsername" value="GWEBSRV_SCA" />
		<add key="SapServicePassword" value="NgQXU2Eua90rxLS24cwHIw==" />
		<add key="SapServiceDomain" value="MOLINOSSA" />
		<add key="DataAgroServiceUsername" value="molinosagro\DATAAGROP" />
		<add key="DataAgroServicePassword" value="J1c1E3jOwPIrGPUrSbE2MA==" />
		<add key="MonsantoServiceUsername" value="test_ws_molinos" />
		<add key="MonsantoServicePassword" value="/kcpPHeKQI8DKpibwlX00g==" />
		<add key="PrinterTimeOut" value="60000" />
		<add key="UrlNotificaciones" value="http://localhost/Scato.serviciosWeb/ServicioSuscriptor.svc" />
		<add key="UrlNotificacionesWeb" value="http://localhost/Scato.Web/ServicioHub/ServicioSuscriptor.svc" />
		<add key="LoguearRequestsCtg" value="1" />
		<add key="FotosPath" value="C:\Img\Fotos\" />
		<add key="ArchivosPath" value="C:\Img\Archivos\" />
		<add key="CupoDefault" value="MOL1111/11111111" />
		<add key="TiempoDeDemoraExportaciones" value="90" />
		<add key="UnreportAu" value="0x49492A00E6BA0000F96B95" />
		<add key="ServicioCNRTTipoVehiculoRest" value="https://api.cnrt.gob.ar/dut/v1/public/equipos?dominios=" />
		<add key="DemoraTransmisionASAPZE7550" value="1440" />
		<add key="UrlPagoMercadoPago" value="https://api.mercadopago.com/instore/qr/buyer/collectors/{0}/stores/SLO/pos/{1}/orders?access_token=" />
		<add key="UrlSolicitarCredenciales" value="https://api.mercadopago.com/oauth/token" />
		<add key="UrlCaja" value="https://api.mercadopago.com/pos?access_token=" />
		<add key="UrlDevolucionMercadoPago" value="https://api.mercadopago.com/v1/payments/{0}/refunds?access_token=" />
		<add key="urlBaseCircularApp" value="https://testservices.appcircular.com/plantIntegration/" />
		<add key="apiTokenCircularApp" value="bnYYkHKgcsnYHXQ5HdeKvVSjKZxdJ3E9AmzG" />
		<add key="SimularTurnoActivoCircular" value="false" />
		<add key="ActivarCierreAutomaticoDeBarrera" value="true" />
		<add key="PdfCpeDpiX" value="300" />
		<add key="PdfCpeDpiY" value="300" />
		<add key="UrlBaseWebAPI" value="http://localhost:5229/" />
		<add key="UserCredentialWebAPI" value="ScatoLogistica" />
		<add key="PassCredentialWebAPI" value="23eBqP+n7OE6duvWPwxFWTtsvbCMhWQ9oMKpePiLnoc=" />
		<add key="URLOperacionesAPI" value="http://qacompras.moaoperaciones.com.ar/externalApi/external/api/" />
		<add key="APITokenOperacionesAPI" value="7cy0vWHYItVFd6phbcz1Id+qcUWVLYgwYLdJ8ZSq2xtrkxkMbQphs+oXG0/bjzgV" />
		<add key="LogCountAfterMinutes" value="5" />
		<add key="ValidarTarjetaEnUsoEtapaPendiente" value="true" />
		<add key="ActivarHangFire" value="true" />
		<add key="Hangfire.CronExpressionFor.SincronizarEstadoTransmisionVisec" value="0 * * * *" />
		<add key="Hangfire.IsEnabled.SincronizarEstadoTransmisionVisec" value="false" />
		<add key="Hangfire.CronExpressionFor.SincronizarMOAPayEstadoDePagos" value="0 */1 * * * *" />
		<add key="Hangfire.IsEnabled.SincronizarMOAPayCPE" value="false" />
		<add key="Hangfire.IsEnabled.SincronizarMOAPayOperacionesFason" value="false" />
		<add key="Hangfire.IsEnabled.SincronizarMOAPayOperacionesFas" value="false" />
		<add key="Hangfire.IsEnabled.SincronizarMOAPayOperacionesResiduos" value="false" />
		<add key="Hangfire.CronExpressionFor.SincronizarMOAPayCPE" value="0 * * * *" />
		<add key="Hangfire.CronExpressionFor.SincronizarMOAPayOperacionesFason" value="0 * * * *" />
		<add key="Hangfire.CronExpressionFor.SincronizarMOAPayOperacionesFas" value="0 * * * *" />
		<add key="Hangfire.CronExpressionFor.SincronizarMOAPayOperacionesResiduos" value="0 * * * *" />
        <add key="Hangfire.CronExpressionFor.CachearCpeAFIPSanLorenzo" value="0 */15 * * * *" />
        <add key="Hangfire.CronExpressionFor.CachearCpeAFIPPorCentros" value="0 * * * *" />
        <add key="Hangfire.CronExpressionFor.ActualizarCacheCpeAFIPSanLorenzo" value="*/30 * * * *" />
		<add key="Hangfire.CronExpressionFor.LimpiarCacheCartaPorteElectronicaDocumentosIngresados" value="0 * * * *" />
		<add key="Hangfire.CronExpressionFor.LimpiarCacheCartaPorteElectronicaDocumentosNoIngresados" value="0 2 * * *" />
        <add key="Hangfire.IsEnabled.LimpiarCacheCartaPorteElectronicaDocumentosIngresados" value="false" />
        <add key="Hangfire.IsEnabled.LimpiarCacheCartaPorteElectronicaDocumentosNoIngresados" value="false" />
		<add key="Hangfire.CronExpressionFor.SincronizarBandaHorariaStopRechazados" value="0 0 * * *"/> 		
		<add key="Hangfire.IsEnabled.SincronizarBandaHorariaStopRechazados" value="true" />
	</appSettings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
	<system.web>
		<sessionState mode="Off" />
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5" />
		<machineKey decryptionKey="9F440771CD2BB6F303C84D46F7A80DF68699C68769362F33" validationKey="8359B584407E9F6CAF76CE4C17043DE7D68EB267BD033FD58E7BBC504F1C3D2439F8D11C320A57665E4E30F1F373FF302138FBA5B12B6592E30457C6B3AC171C" />
		<httpModules>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="scatoDEVMOA@molinosagro.com.ar" deliveryMethod="Network">
				<network host="smtpnuevo.molinosagro.com.ar" port="25" enableSsl="false" />
			</smtp>
		</mailSettings>
		<defaultProxy enabled="True" useDefaultCredentials="True" />
	</system.net>
	<system.serviceModel>
		<services>
			<service name="Molinos.Scato.Servicios.Impl.ServicioSapAsincronico">
				<endpoint address="net.msmq://localhost/private/Scato.serviciosWeb/ServicioSapAsincronico.svc" binding="netMsmqBinding" bindingConfiguration="QueueBinding" contract="Molinos.Scato.Servicios.IServicioSapAsincronico" />
			</service>
			<service name="Molinos.Scato.Servicios.Impl.ServicioSapAsincronicoPoison">
				<endpoint address="net.msmq://localhost/private/Scato.serviciosWeb/ServicioSapAsincronico.svc;poison" binding="netMsmqBinding" bindingConfiguration="PoisonBinding" contract="Molinos.Scato.Servicios.IServicioSapAsincronico" />
			</service>
			<service name="Molinos.Scato.Servicios.Impl.ServicioRepositorio" behaviorConfiguration="Autenticacion">
				<endpoint binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioRepositorio" />
			</service>
			<service name="Molinos.Scato.Servicios.Impl.FirmaProvider" behaviorConfiguration="Autenticacion">
				<endpoint binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IFirmaProvider" />
			</service>
			<service name="Molinos.Scato.Servicios.Impl.ServicioComandos" behaviorConfiguration="Autenticacion">
				<endpoint binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioComandos" />
			</service>
			<service name="Molinos.Scato.Servicios.Impl.ServicioWorkflows" behaviorConfiguration="Autenticacion">
				<endpoint binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioWorkflows" />
			</service>
			<service name="Molinos.Scato.Servicios.Impl.ServicioSuscriptor">
				<endpoint binding="basicHttpBinding" bindingConfiguration="ServicioSuscriptorBinding" contract="Molinos.Scato.Servicios.IServicioSuscriptor" />
			</service>
			<service name="Molinos.Scato.Servicios.Impl.ServicioEstadoPuesto">
				<endpoint binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioEstadoPuesto" />
			</service>
			<service name="Molinos.Scato.Servicios.Impl.ServicioHangfireQueue">
				<endpoint binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioHangfireQueue" />
			</service>
			<service name="Molinos.Scato.Servicios.Impl.AdministradorDeCalles">
				<endpoint binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IAdministradorDeCalles" />
			</service>
      <service name="Molinos.Scato.Servicios.Impl.ServicioLlamadoAutomatico">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioLlamadoAutomatico" />
      </service>
		</services>
		<bindings>
			<!--<netTcpBinding>
        <binding name="OrquestadorBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000">
          <security mode="Transport">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>-->
            <basicHttpBinding>
                <binding name="LoginCmsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiciosScatoBinding" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                    <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>-->
                </binding>
                <binding name="ServicioSuscriptorBinding" maxReceivedMessageSize="2147483647">
                    <security mode="None">
                    </security>
                </binding>
                <binding name="LoginCmsSoapBinding1" />
                <binding name="CommonBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" useDefaultWebProxy="true">
                    <security mode="None" />
                </binding>
                <binding name="OrquestadorBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" useDefaultWebProxy="true">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="CTGServiceBinding" maxReceivedMessageSize="2147483647" sendTimeout="00:02:00">
                    <security mode="Transport" />
                </binding>
                <binding name="CTGServiceBinding1" />
                <binding name="GestionarCartasDePortePESoapBinding">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="GestionarCartasDePortePESoapBinding1" />
                <binding name="calpesSoap" />
            </basicHttpBinding>
            <netMsmqBinding>
                <binding name="QueueBinding" exactlyOnce="true" receiveRetryCount="0" maxRetryCycles="3" retryCycleDelay="00:00:05" receiveErrorHandling="Move">
                    <security mode="None" />
                </binding>
                <binding name="PoisonBinding">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
            <customBinding>
                <binding name="ZSDWS_SCATO_HTTP" sendTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport authenticationScheme="Basic" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" />
                </binding>
                <binding name="ZSDWS_SCATO_HTTPS" sendTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport authenticationScheme="Basic" requireClientCertificate="false" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" />
                </binding>
                <binding name="DataAgroServiceBinding" sendTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00">
					<textMessageEncoding messageVersion="Soap11" />
					<httpTransport authenticationScheme="Basic" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" />
				</binding>
                <binding name="CustomSoapBinding">
                    <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport maxReceivedMessageSize="2000000000" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding" contract="AfipWebService.LoginCMS" name="LoginCms" />
            <endpoint address="https://serviciosjava.afip.gob.ar/wsctg/services/CTGService_v4.0" binding="basicHttpBinding" bindingConfiguration="CTGServiceBinding" contract="AfipCTGWebService.CTGServicePortType" name="CTGServiceHttpSoap11Endpoint" />
            <endpoint
                address="https://vhmgkgaqci.sap.molinosagro.ad:44300/sap/bc/srt/rfc/sap/zsdws_scato/400/zsdws_scato/zsdws_scato"
                binding="customBinding"
                bindingConfiguration="ZSDWS_SCATO_HTTPS"
                contract="ServiciosSap.ZSDWS_SCATO"
                name="ZSDWS_SCATO" />
            <endpoint address="http://localhost:8080/ServicioOrquestador" binding="basicHttpBinding" bindingConfiguration="OrquestadorBinding" contract="Orquestador.IServicioOrquestador" name="Orquestador" />
            <endpoint address="https://industriatest.com.ar/industrysystem-ws-ar/services/GestionarCartasDePortePE/v2" binding="customBinding" bindingConfiguration="CustomSoapBinding" contract="GestionarCartasDePortePE.WaybillManagementPODv2" name="WaybillManagementPODImplPort" />
            <endpoint address="http://imgup.entreganet.com/calpes.asmx" binding="basicHttpBinding" bindingConfiguration="calpesSoap" contract="Urenport.calpesSoap" name="calpesSoap" />
            <endpoint address="http://localhost/Scato.ModuloImpresor/ServicioImpresion.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="OrquestadorBinding" contract="ServicioImpresion.IServicioImpresion" name="ServicioImpresion" />
            <endpoint address="http://localhost/Scato.Web/ServicioHub/ServicioNotificarUsuario.svc" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioNotificarUsuario" name="ServicioNotificarUsuario" />
            <endpoint address="https://cpea-ws-qaext.afip.gob.ar/wscpe/services/soap" binding="basicHttpBinding" bindingConfiguration="CTGServiceBinding" contract="AfipCPDigitalService.CpePortType" name="CpeEndPoint" />
            <endpoint address="http://beta.webcompliance.com.ar/webcompliance/webservice/agroacopios" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="ComplianceWebServiceV2.DatosPort" name="DatosPortV2" />
            <endpoint address="http://test.dataagro.com.ar/Services/DataAgroServices.svc" binding="customBinding" bindingConfiguration="DataAgroServiceBinding" contract="DataAgroService.IDataAgroServices" name="DataAgroServices" />
        </client>
        <extensions>
            <behaviorExtensions>
                <add name="internacionalizacion" type="Molinos.Scato.Servicios.Behavior.InternacionalizacionBehavior, Molinos.Scato.Servicios, Version=1.0.0.0, Culture=neutral" />
            </behaviorExtensions>
        </extensions>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <behavior name="Autenticacion">
                    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <!--<serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="false" includeWindowsGroups="false" />
          </serviceCredentials>
          <serviceAuthorization
              serviceAuthorizationManagerType="Molinos.Scato.Servicios.Seguridad.AuthorizationManager, Molinos.Scato.Servicios">
          </serviceAuthorization>-->
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior>
                    <internacionalizacion />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <protocolMapping>
            <add binding="basicHttpsBinding" scheme="https" />
        </protocolMapping>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="Session" />
            <remove name="TelemetryCorrelationHttpModule" />
            <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
            <remove name="ApplicationInsightsWebTracking" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
        </modules>
        <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
        <directoryBrowse enabled="true" />
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    </entityFramework>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.20.0.103" newVersion="2.20.0.103" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AI.DependencyCollector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.20.0.103" newVersion="2.20.0.103" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <log4net>
        <root>
            <level value="ALL" />
            <appender-ref ref="aiAppender" />
        </root>
        <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message%newline" />
            </layout>
        </appender>
    </log4net>
</configuration>