.color-fondo {
    background-color: #E8E8E8;
}

.bg-primero {
    margin-left: 15px !important;
    background-color: #E8E8E8;
}

.bg-ultimo {
    margin-right: 15px !important;
     background-color: #E8E8E8;
}

.row-borde {
    margin-left: -11.5px !important;
    margin-right: -11.5px !important;
}

.col-borde {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.sinbordetb-borde {
    margin-top:0;
    margin-bottom:-1px;
    padding-bottom:0;
    padding-top:0;
}