.toggle {
    margin-top: 1% !important;
}

.btn-success {
    background-color: #7bb799;
}
.toggle.btn-success {
    width: 130px !important;
    height: 40px;
}

.dropdown-menu-scato-mobile {
    height: 50%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #ffff;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu__contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
}

.menu__boton {
    width: 100%;
    max-width: 360px;
}

@media (max-width: 2000px) {
    .dropdown-menu-scato-mobile {
        width: auto;
    }
}

@media (max-width: 990px) {
    .menu__boton--tableroComandoLogistica {
        order: 2;
    }

    .menu__boton--tableroComandoPuerto {
        order: 3;
    }
}

@media (max-width: 650px){
    .scato-logo-mobile {
        position: relative;
        top: -30px;
    }
}

@media only screen and (max-width: 650px) {
    .navbar-menu {
        display: block;       
    }
    .ingresoEgreso {
        text-align: center;
    }
    .ingresoEgreso {
        margin-top: 10px !important;
    }
    .toggle.btn-success {
        width: 140px !important;
        height: 40px;
    }  

}
@media only screen and (max-width: 310px) {
    
    .toggle.btn-success {
        width: 220px !important;
        height: 40px;
    }
}
@media only screen and (max-width: 240px) {

    .toggle.btn-success {
        width: 100px !important;
        height: 40px;
    }
}
