<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioOrquestador">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="CTGServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CTGServiceBinding1" />
                <binding name="CTGServiceBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="CTGServiceBinding3" />
                <binding name="CTGServiceBinding4">
                    <security mode="Transport" />
                </binding>
                <binding name="CTGServiceBinding5" />
                <binding name="DatosBinding" />
                <binding name="calpesSoap" />
                <binding name="BasicHttpBinding_IServicioImpresion" />
                <binding name="wscpeSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="wscpeSOAP1" />
                <binding name="LoginCmsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginCmsSoapBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ZSDWS_SCATO">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="ZSDWS_SCATO_soap12">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicioOrquestador">
                    <security>
                        <transport protectionLevel="None" sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://beta.webcompliance.com.ar/webcompliance/webservice/agroacopios" binding="basicHttpBinding" bindingConfiguration="DatosBinding" contract="ComplianceWebServiceV2.DatosPort" name="DatosPort" />
            <endpoint address="http://imgup.entreganet.com/calpes.asmx" binding="basicHttpBinding" bindingConfiguration="calpesSoap" contract="Urenport.calpesSoap" name="calpesSoap" />
            <endpoint address="http://localhost/Scato.ModuloImpresor/ServicioImpresion.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioImpresion" contract="ServicioImpresion.IServicioImpresion" name="BasicHttpBinding_IServicioImpresion" />
            <endpoint address="http://gviceccqa.molinosagro.ad:8000/sap/bc/srt/rfc/sap/zsdws_scato/400/zsdws_scato/zsdws_scato" binding="customBinding" bindingConfiguration="ZSDWS_SCATO" contract="ServiciosSap.ZSDWS_SCATO" name="ZSDWS_SCATO" />
            <endpoint address="http://gviceccqa.molinosagro.ad:8000/sap/bc/srt/rfc/sap/zsdws_scato/400/zsdws_scato/zsdws_scato" binding="customBinding" bindingConfiguration="ZSDWS_SCATO_soap12" contract="ServiciosSap.ZSDWS_SCATO" name="ZSDWS_SCATO_soap12" />
            <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding" contract="AfipWebService.LoginCMS" name="LoginCms" />
            <endpoint address="http://nbpe00059:8080/ServicioOrquestador" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioOrquestador" contract="Orquestador.IServicioOrquestador" name="BasicHttpBinding_IServicioOrquestador" />
            <endpoint address="net.tcp://nbpe00059:8081/ServicioOrquestador" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioOrquestador" contract="Orquestador.IServicioOrquestador" name="NetTcpBinding_IServicioOrquestador">
                <identity>
                    <userPrincipalName value="BAUNET\mdavila" />
                </identity>
            </endpoint>
            <endpoint address="https://cpea-ws-qaext.afip.gob.ar/wscpe/services/soap" binding="basicHttpBinding" bindingConfiguration="wscpeSOAP" contract="AfipCPDigitalService.CpePortType" name="CpeEndPoint" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
<log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="aiAppender" />
    </root>
    <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
